$primary:   #202020;
$secondary: #121212;
$white:     #fff;
$red:       #ED3024;
$blue:      #3137C9;
$primary-color: #27ae60;
$space-m: 16px;

$bp-1140: 1140px;
$bp-920: 920px;
$bp-768: 768px;
$bp-700: 700px;
$bp-576: 576px;
$bp-425: 425px;
$bp-360: 360px;