<header class="header">
    <div class="header-nav">
        <div class="header-nav__logo">
            <a href="/"><img src="assets/images/logo.png" alt=""></a>
        </div>
        <div class="header-nav__link">
            <nav class="header-nav">
                    <li class="header__link"><a href="">Все товары</a></li>
                    <li class="header__link"><a href="">Одежда</a></li>
                    <li class="header__link"><a href="">Доставка и оплата</a></li>
                    <li class="header__link"><a href="">обмен и возврат</a></li>
                    <li class="header__link"><a href="">контакты</a></li>
            </nav>
        </div>
        <div class="header-nav__basket">
                <li class="header__link"><a href="/cart.html">корзина</a></li>
        </div>
        <div class="header-nav__burger">
                <div class="wrapper">
                    <div class="menuToggle icon">
                        <div class="hamburger"></div>
                    </div>
                    
                    <ul class="menu">
                        <li class="header__link"><a href="">Все товары</a></li>
                    <li class="header__link"><a href="">Одежда</a></li>
                    <li class="header__link"><a href="">Доставка и оплата</a></li>
                    <li class="header__link"><a href="">обмен и возврат</a></li>
                    <li class="header__link"><a href="">контакты</a></li>
                    <li class="header__link"><a href="/cart.html">корзина</a></li>
                    </ul>
                </div>
        </div>
    </div>
</header>
